@font-face {
    font-family: 'OldStandard';
    src: url('/library/static/src/fonts/OldStandard-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.old-standard-font {
    font-family: 'OldStandard';
}
